[Desktop Entry]
Version=1.2.2
Type=Application
Terminal=false
Exec=audioanalyzer
Name=audioanalyzer
Comment=audio analyzing tool
Icon=${SNAP}/meta/gui/audioanalyzer.png
